@page 
@model HoroscopePageModel
@{
var rownum = 1;
}
<form method="post" >
     @*預設method是get，所以不會觸發任何post，一定要加上*@ 
    <div class="page-title text-center">
        <h3>查詢畫面</h3>
    </div>
    <div >
        <div class="page-content">
            <div class="page-query">
                <div class="form-group">
                    <label asp-for="Selection"></label>
                    <select class="form-control" asp-for="Selection" asp-items="@Html.GetEnumSelectList(typeof(Horoscope))">
                        @*<option value="">NONE</option>*@
                        @* 為了要有能判斷的預設值， *@
                    </select>
                    <span asp-validation-for="Selection" class="small text-danger"></span>
                </div>
                <label asp-for="Keyword"></label>
                <input class="form-control" asp-for="Keyword" />
                <span asp-validation-for="Keyword" class="small text-danger"></span><br />
                <label asp-for="Author"></label>
                <input class="form-control" asp-for="Author" /><br />
                <button class="btn btn-primary" asp-page-handler="Query">查詢</button>
                <a class="btn btn-primary" asp-page="horo_add"  >新增</a>  
                
            </div>

            <br />
            
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:1px"></th>
                            <th class="text-center" style="width:1px">#</th>
                            <th class="text-nowrap" style="width:50%">書名</th>
                            <th class="text-nowrap" style="width:15%">書籍狀態</th>
                            <th class="text-nowrap" style="width:15%">作者</th>
                            <th style="width:15%" ></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Books.Where(j=>j.isshown))
                        {
                        <tr>
                            <td calss="align-middle text-center "></td>
                            <td class="align-middle text-center">@(rownum++)</td>
                            <td class="align-middle text-wrap">@item.keyword</td>
                            <td class="align-middle text-nowrap">@item.selction</td>
                            <td class="align-middle text-nowrap">@item.author</td>
                            <td class="align-middle text-nowrap"><a class="btn btn-primary" asp-page="horo_add" asp-page-handler="Edit"  asp-route-no="@(rownum-1)">編輯</a></td>
                        </tr>
                       
                        }
                    </tbody>

                </table>
                <h5 style="color:gray" class="clearfix">@Model.Message</h5>
            </div>
        </div>

    </div>

</form>