@page 
@model Horo_AddPageModel
@{
}
<form method="post">
    @* 預設method是get，所以不會觸發任何post，一定要加上 *@
    <div class="page-query">
        <div class="form-group">
            <label asp-for="Selection"></label>
            <select class="form-control" asp-for="Selection" asp-items="@Html.GetEnumSelectList(typeof(Horoscope))">
            </select>
            <span asp-validation-for="Selection" class="small text-danger"></span>
        </div>
        <label asp-for="Keyword"></label>
        <input class="form-control" asp-for="Keyword" />
        <span asp-validation-for="Keyword" class="small text-danger"></span><br />
        <label asp-for="Author"></label>
        <input class="form-control" asp-for="Author" /><br />
        <div class="row">
            <div class="col">
                <label>出版社</label>
                <input class="form-control" name="publisher" value="" /><br />
            </div>
            <div class="col">
                <label>出版日期</label>
                <input class="form-control" name="publishDate" /><br />
            </div>
            </div>
            <button class="btn btn-primary">確認</button>


        </div>

        <br />




        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center" style="width:1px"></th>
                        <th class="text-center" style="width:1px">#</th>
                        <th class="text-nowrap" style="width:50%">書名</th>
                        <th class="text-nowrap" style="width:15%">書籍狀態</th>
                        <th class="text-nowrap" style="width:15%">作者</th>
                        <th class="text-nowrap" style="width:10%">出版社</th>
                        <th class="text-nowrap" style="width:10%">出版日期</th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var item in Model.notes)*@
                    <tr>
                        <td calss="align-middle text-center "></td>
                        <td class="align-middle text-center">1</td>
                        <td class="align-middle text-wrap">@Model.Keyword</td>
                        <td class="align-middle text-nowrap">@Model.Selection</td>
                        <td class="align-middle text-nowrap">@Model.Author</td>
                        <td class="align-middle text-nowrap">@Model.Pub</td>
                        <td class="align-middle text-nowrap">@Model.Pubdate</td>
                    </tr>
                </tbody>

            </table>
            <h3 style="color:gray" class="clearfix">@Model.Message</h3>
        </div>


</form>